Repository Maskedfoxguy/adamepinger: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "server/**/*.js": [
    "eslint --fix",
    "prettier --write"
  ],
  "client/src/**/*.{js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

Remove website screenshot from README
  README.md
Due: prettier --write

Navbar adjustments
  client/src/App.css
  client/src/App.js
  client/src/assets/images/AE-logo.png
  client/src/assets/images/AE-logo2.png
  client/src/components/Navbar.css
  client/src/components/Navbar.js
Due: eslint --fix, prettier --write

Navbar final idea, I keep this approach, bc it looks clean and neat
  client/src/components/Navbar.css
  client/src/components/Navbar.js
Due: eslint --fix, prettier --write

Navbar adjustments
  client/src/components/Navbar.css
Due: none

Hamburger menu change
  client/src/assets/images/GeoHamburger.png
  client/src/components/Navbar.css
  client/src/components/Navbar.js
Due: eslint --fix, prettier --write

logo nudge
  client/src/components/Navbar.css
Due: none

Responsivness on all devices in both Landscape and Portrait mode, Final Navbar animation and position adjustments
  client/src/components/Navbar.css
Due: none

Add HomeFlow components: HomeHero, ProjectsPreview, ContactForm, Footer
  client/src/components/ContactForm.tsx
  client/src/components/Footer.tsx
  client/src/components/HomeHero.tsx
  client/src/components/ProjectPreview.tsx
Due: none

TypeScript and Tailwind
  client/package-lock.json
  client/package.json
  client/public/Aavatar.jpg
  client/public/avatar.jpg
  client/public/index.html
  client/public/logo192.png
  client/public/logo512.png
  client/public/manifest.json
  client/src/App.css
  client/src/App.tsx
  client/src/components/HomeHero.tsx
  client/src/components/Navbar.css
  client/src/pages/HomePage.js
  client/src/pages/HomePage.tsx
  client/src/react-app-env.d.ts
  client/tsconfig.json
Due: eslint --fix, prettier --write

avater pic
  client/postcss.config.js
  client/src/assets/images/avatar.png
  client/src/components/Navbar.css
  client/src/index.css
  client/tailwind.config.js
Due: none

feat(client): Add TypeScript declarations for asset imports
  client/src/react-app-env.d.ts
Due: none

project section
  client/src/assets/images/IMG_0596.JPG
  client/src/components/HomeFlow.test.tsx
  client/src/components/HomeHero.tsx
  client/src/components/ProjectCard.css
  client/src/components/ProjectCard.tsx
  client/src/components/ProjectPreview.tsx
  client/src/components/ProjectsPreview.tsx
  client/src/components/ProjectsSection.tsx
  client/src/pages/HomePage.tsx
Due: none

Homeflow updates
  client/src/components/AboutSection.tsx
  client/src/components/ContactForm.css
  client/src/components/ContactForm.tsx
  client/src/components/ContactSection.tsx
  client/src/pages/HomePage.tsx
Due: none

footer
  client/src/assets/images/AE-logo.png
  client/src/assets/images/GeoHamburger.png
  client/src/assets/images/ProtoTypes/AE-logo2.png
  client/src/assets/images/ProtoTypes/AE-logoP.png
  client/src/assets/images/ProtoTypes/AE-logoW.png
  client/src/assets/images/ProtoTypes/AE-logo_UB.png
  client/src/assets/images/ProtoTypes/GeoHamburger_original.png
  client/src/assets/images/ProtoTypes/IMG_0596.JPG
  client/src/assets/images/ProtoTypes/backgroundimage2.jpg
  client/src/assets/images/magnifier_geometric.png
  client/src/components/Footer.css
  client/src/components/Footer.tsx
  client/src/components/HomeHero.tsx
  client/src/components/Navbar.css
  client/src/components/Navbar.js
  client/src/pages/HomePage.tsx
Due: eslint --fix, prettier --write

modifying app.css
  client/src/App.css
Due: none

ContactSection Adjustments
  client/src/components/ContactForm.css
  client/src/components/ContactForm.tsx
Due: none

Remove email contact from README
  README.md
Due: prettier --write

Working on the ContactForm.tsx
  client/public/index.html
  client/src/App.css
  client/src/assets/fonts/Caveat.ttf
  client/src/assets/images/ProfPic.jpg
  client/src/components/AboutSection.tsx
  client/src/components/ContactForm.tsx
  client/src/components/HomeHero.css
  client/src/components/HomeHero.tsx
  client/src/index.css
Due: none

Redesign login page and implement universal footer
  client/src/App.css
  client/src/App.js
  client/src/components/Footer.tsx
  client/src/pages/AdminLoginPage.js
  client/src/pages/HomePage.tsx
Due: eslint --fix, prettier --write

Admin Dashboard
  client/src/App.css
  client/src/App.js
  client/src/pages/AdminDashboardPage.js
  client/src/pages/AdminLoginPage.js
Due: eslint --fix, prettier --write

Concerting JS files into TSX for consistency and learning TypeScript
  client/src/App.js
  client/src/pages/AboutPage.js
  client/src/pages/AboutPage.tsx
  client/src/pages/ContactsPage.js
  client/src/pages/ContactsPage.tsx
  client/src/pages/ProjectsPage.js
  client/src/pages/ProjectsPage.tsx
Due: eslint --fix, prettier --write

Admin DSH
  client/src/pages/AdminDashboardPage.js
  client/src/pages/AdminLoginPage.tsx
Due: eslint --fix, prettier --write

scrollbar changes
  client/src/components/ScrollVisibility.tsx
  client/src/index.css
  client/src/pages/AdminDashboardPage.tsx
Due: none

final scrollbar adjustments
  client/src/index.css
Due: none

AdminLoginRoute fixed
  client/src/App.js
  client/src/components/ProtectedRoute.tsx
  client/src/pages/AdminDashboardPage.tsx
  client/src/pages/AdminLoginPage.tsx
Due: eslint --fix, prettier --write

picture change
  client/src/assets/images/ProfilePhoto.png
  client/src/assets/images/avatar.png
  client/src/assets/images/profilepicpond.jpg
  client/src/components/ContactForm.tsx
  client/src/pages/AdminDashboardPage.tsx
Due: none
